:root {
  --card: #efefe5;
  --ink: #222;
  --accent: #d7cfbf;
  --brown: #764e2f;
}

html, body {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

@media (min-width: 600px) and (min-height: 600px) {
  html, body {
    font-size: 16px;
  }
}

.fixed {
  position: fixed;
}

/* ========================
   Home/landing page styles
   ======================== */

.bg-img {
  position: absolute;
  width: 100%;
  height: 100svh;
  object-fit: cover;
  bottom: 0px;
}

#home-bg {
  position: absolute;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  top: 0px;
}

.success-container {
  position: relative;
  background-color: var(--card);
  box-sizing: border-box;
  transform: translate(25dvw, 25svh);
  width: 50dvw;
  border: 1px solid #764e2f;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  padding: 0;
  margin: 0;
  color: #764e2f;
  font-style: italic;
  text-transform: uppercase;
  font-size: 2rem;
  width: 100%;
  text-align: center;

  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0.15rem;
  line-height: 2.1rem;
  text-shadow: -1px -1px 0 #764e2f, 1px -1px 0 #764e2f, -1px 1px 0 #764e2f, 1px 1px 0 #764e2f;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.12rem;
  line-height: 1.8rem;
  padding: 0px;
  margin: 0.3rem 0rem;
  width: 100%;
  text-align: center;
}